body {
	background-color: maroon;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 130px;
  background-color:maroon;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}


img{
	width:40%;
}
img:hover {
	border: dotted 5px #3AFF00;
	width: 200px;
	border-radius: 70%;
}
